
.recentf
history
lisp/custom.el
server/
transient/
auto-save-list/
elpa/
.cache/
url/
eshell/
*.???~
*.??~
recentf
ido.last~
ido.last
ac-comphist.dat
*~
bookmarks
.mc-lists.el
.python-environments/

